#WelcomeScreen {
    width: auto;
    height: auto;
    border: 13px dashed forestgreen;
    border-radius: 55px;
    padding: 50px;
    margin: 20px;
}

body {
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
}

h2 {
    font-size: xx-large;
    text-decoration-line: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a4e09f;
    z-index: 100;
    position: relative;
}

.hidden {
    display : none;
}