#welcomeScreen {
    width: auto;
    height: auto;
    border: 16px double rgb(39, 172, 39);
    background-color: rgba(23, 92, 16, 0.9);
    border-radius: 45px;
    padding-inline: 23px;
    padding-block: 30px;
    max-width: fit-content;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    z-index: 100;
    position: relative;
}

#navigationScreen {
    border: 4px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 38px;
    padding: 50px;
    max-width: fit-content;
    z-index: 100;
    position: relative;
    text-align: center;
    display: flex;
    margin: auto;
}

body {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(79, 79, 79);
    color: rgb(220, 220, 220);
    z-index: 100;
    position: relative;
}

h2 {
    font-size: 3.9vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 100;
    position: relative;
}

h3 {
    font-size: 2.3vh;
    position: relative;
}

button {
    font-size: 2.6vh;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 13px;
    margin-left: 13px;
    margin-bottom: -1px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #91e38af4;
    z-index: 2;
    position: relative;
    border: 2px solid rgb(5, 32, 2);
    border-radius: 13px;
    color: black;
    transition: .06s ease-in;
    box-shadow: 4px 5px 2.2px #999;
}

@media (hover: hover) {
    .animate:hover {
        background-color: #3e8e41;
    }
}

.animate:active {
    background-color: #3e8e41;
    box-shadow: 1px 2px 1px #666;
    transform: translateX(4px);
    transform: translateY(4px);
}

#startBtn {
    background-color: #d97f00;
    color: black;
    box-shadow: none;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -5px;
}

#goNavigationBtn {
    background-color: #31bc24;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;
}

#cancelNavigationMenuBtn {
    background-color: #f27777;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;
}

label {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    position: relative;
}

input {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    position: relative;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;
}

.a-enter-vr-button {
    z-index: 1;
    position: absolute;
    top: 45em;
}

#miniMap {
    z-index: 1;
    position: absolute;
    top: 13px;
    right: 13px;
    border: 2px solid black;
    border-radius: 200px;
}

a-scene {
    z-index: 0;
    position: relative;
}

.hidden {
    display: none;
}

.modal {
    z-index: 100;
    position: relative;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: #006110;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: modalSlideUp;
    animation-duration: 0.6s;
}

.modal-content p {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes modalSlideUp {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes modalSlideDown {
    from {
        bottom: 0;
        opacity: 1;
    }

    to {
        bottom: -100px;
        opacity: 0;
    }
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

#credit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.66);
    color: black;
    border-radius: 4px;
    font-size: 11px;
    text-align: right;
    z-index: 50;
    display: flex;
    align-items: center;
}

#credit p {
    margin: 0;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error {
    animation: shake 0.16s ease-in-out 0s 3;
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}