#welcomeScreen {
    width: auto;
    height: auto;
    border: 13px dashed forestgreen;
    border-radius: 55px;
    padding: 50px;
    margin: 20px;
    z-index: 100;
    position: relative;
}

#navigationScreen {
    border: 13px dashed forestgreen;
    border-radius: 55px;
    padding: 50px;
    margin: 20px;
}

body {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
    z-index: 100;
    position: relative;
}

h2 {
    font-size: xx-large;
    text-decoration-line: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 100;
    position: relative;
}

button {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a4e09f;
    z-index: 100;
    position: relative;
}

label {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    position: relative;
}

input {
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    position: relative;
}

#miniMap {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid black;
    border-radius: 128px;
}

a-scene {
    z-index: 0;
    position: relative;
}

.hidden {
    display: none;
}

.modal {
    z-index: 100;
    position: relative;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 120px;
    background-color: #006110;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: modalSlideUp;
    animation-duration: 0.6s;
}

.modal-content p {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes modalSlideUp {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes modalSlideDown {
    from {
        bottom: 0;
        opacity: 1;
    }

    to {
        bottom: -300px;
        opacity: 0;
    }
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}